files.zip
texts/ark:__27927_phx1wcjq0tm
texts/ark:__27927_phz8qhfbxzm
texts/ark:__27927_phz35174v0z
texts/ark:__27927_phzbjns29gn
texts/ark:__27927_phzjj6kfdxp
texts/ark:__27927_phzkfzqzs41
texts/ark:__27927_phzmmfj893c
texts/ark:__27927_phznswfkrxz
texts/ark:__27927_phzpdcpvdnb
texts/ark:__27927_phzq8c34ggp
texts/ark:__27927_phzq26wnjzn
texts/ark:__27927_pjb1wn175cv
texts/ark:__27927_pjb1z5xzrx7
texts/ark:__27927_pjb1z8505hp
texts/ark:__27927_pjb3ptfm8xd
texts/ark:__27927_pjb5s37cx32
texts/ark:__27927_pjb16g9m9r7
texts/ark:__27927_pjb65xt4m6r
88e8f6cf-4c4e-6d0e-4163-2e35b9012851-sampled-jsonl.jsonl.gz
files.jsonl
files_simple.jsonl
strip.py
files.jsonl.zip
__pycache__/answers.cpython-310.pyc
